body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: wheat;
    background-color: #2C302E;
    text-align: center;
    font-size: 40px;

}

.life{
    text-align: center;
    margin: 5px;
}

.box{
    margin: 0;
    height: 500px;
    display: inline-block;
}

#wyraz{
    background-color:#2C302E;
    border: 0;
    font-size: large;
    text-align: center;
    font-size: 35px;
    color: wheat;
}

#button{
    background-color:#474A48;
    border: 2px solid black;
    font-size: 30px;
    text-align: center;
    padding: 0 40px;
}

#button:hover{
    background-color: #383B3A;

}

.life{
    text-align: left;
    margin: 15px;
}